body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fdf5c7 !important;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.croissant-photo {
  max-width: 800px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
